<a href="https://colab.research.google.com/github/jvaug30/Project-2/blob/main/Project_2_Part_1_(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project 2 Part 1 (Core)
- Jacob L. Vaughn

In [1]:
import pandas as pd

In [2]:
df_1 = pd.read_csv('/content/drive/MyDrive/00 Data/02 Stack Two/Week 07/GLOBE-Phase-2-Aggregated-Leadership-Data.csv')
df_1.head()

,Country,Country Name,Performance Oriented,Autocratic,Modesty,Charismatic 3: Self-sacrifice,Team 1: Collaborative Team Orientation,Decisive,Diplomatic,Face-saver,...,Team 2: Team Integrator,"Internally Competitive, Originally Labeled _Conflict Inducer_",Participative,Charismatic/Value-based Global Leadership Dimension,Team-Oriented Global Leadership Dimension,Self-Protective Global Leadership Dimension,Participative Global Leadership Dimension,Humane-Oriented Global Leadership Dimension,Autonomous Global Leadership Dimension,Country Cluster
0,2,England,6.38,2.55,4.91,4.90,5.33,6.00,5.40,2.54,...,6.16,3.42,5.68,6.01,5.71,3.04,5.57,4.90,3.92,Anglo
1,3,Costa Rica,6.15,2.46,5.48,5.67,5.74,5.66,5.14,2.72,...,6.05,4.17,5.53,5.95,5.81,3.55,5.54,4.99,3.46,Latin America
2,5,Italy,6.18,2.64,4.67,5.20,5.53,6.09,5.70,2.60,...,6.14,3.67,5.57,5.98,5.87,3.25,5.47,4.38,3.62,Latin Europe
3,6,India,5.96,3.10,5.33,5.45,5.51,5.83,5.70,3.57,...,5.83,4.24,5.07,5.85,5.72,3.77,4.99,5.26,3.85,Southern Asia
4,7,Namibia,6.16,2.58,5.10,4.79,5.46,6.16,5.42,2.48,...,6.05,3.83,5.53,5.99,5.81,3.36,5.48,5.10,3.77,Sub-Sahara Africa

**First Choice Dataset**
#1). Source of data
Data World
https://data.world/adamhelsinger/globe-project/workspace/file?filename=GLOBE-Phase-2-Aggregated-Leadership-Data.csv
#2). Brief description of data
Understanding the relationship between national culture, societal effectiveness and desirable leadership attributes.
#3). What is the target?
Target would be country.
#4). Is this a classification or regression problem?
Classification problem.
#5). How many features?
27 features
#6). How many rows of data?
61 rows of data.
#7). What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?
Challenges are going to be with the amount of features. Unsure, at the moment, if country is the best target.

In [3]:
df_2 = pd.read_excel('/content/drive/MyDrive/00 Data/02 Stack Two/Week 07/US Population by Race (1).xlsx')
df_2.head()

,State,White,Black,Hispanic,Asian,Multiple Races,American Indian / Alaska Native,Native Hawaiian / Other Pacific Islander
0,Alabama,0.65,0.27,0.04,0.01,0.02,0.00,NaN
1,Alaska,0.60,0.02,0.07,0.06,0.08,0.15,0.02
2,Arizona,0.54,0.04,0.32,0.03,0.02,0.04,0.00
3,Arkansas,0.72,0.15,0.08,0.02,0.02,0.01,0.00
4,California,0.36,0.05,0.40,0.15,0.03,0.00,0.00

**Second Choice Dataset**
#1). Source of data
Data World
https://data.world/makeovermonday/2021w30a/workspace/file?filename=US%20Population%20by%20Race.xlsx
#2). Brief description of data
Data is percentages of race per state in the United States of America.
#3). What is the target?
Target would be the state/regions.
#4). Is this a classification or regression problem?
I assume this would be a regression problem.
#5). How many features?
7 features
#6). How many rows of data?
52 rows of data
#7). What, if any, challenges do you foresee in cleaning, exploring, or modeling with this dataset?
Possible problems will be with cleaning the data with NaN values. Exploring is limited to percentages. Modeling could be difficult with 7 features.